<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias</title>
    
</head>
<body>
    <h1>Materias</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre materia</th>
                <th>Nombre Carrera</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(materias)}">
                <td colspan="2">No Existen materias</td>
            </tr>
            <tr th:each="materia : ${materias}">
                <td th:text="${materia.nombre}"></td>
                <td th:text="${materia.carrera.nombre}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
